@page "/"
@using ChatBotErazmus.Models
@using System.Text;
@using ChatBotErazmus.Services
@inject ChatGService chatService

<EditForm Model="@AIRequest">
    <div class="searchArea">
        <button @onclick="GetAPIResponse"> Submit </button>
        <div class="inputDiv">
            <InputText class="form-control" @bind-Value="@AIRequest.Request" placeholder="Ask me anything.." />
        </div>
    </div>

    <div class="searchResult">
        <InputTextArea class="form-control" style="height:450px" @bind-Value="@AIRequest.Response" placeholder="AI will respond here..." readonly />
    </div>
</EditForm>

@code {
    ChatGModel AIRequest = new();

    public async Task GetAPIResponse()
    {
        try
        {
            AIRequest.Response = await chatService.GetResponse(AIRequest.Request);
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}